$gray-500: #adb5bd;
$paragraph: #737172;
$error : #e03b65;
$success : #008f39;
// h1 {
//   font-size: 30px;
//   font-weight: 700;
// }

p {
  color: $paragraph;
  font-size: 16px;
  font-weight: 500;
}

.image-brand {
  width: 200px;
  height: auto;
}

label {
  font-weight: 700;
}

.btn-submit {
  border-radius: 25px;
  padding: 0.7em 2.2em;
}

.select_customarrow {
 -webkit-appearance:none;  /* for chrome & safari */
 -moz-appearance: none; /* for mozilla */
  background-image:url("/src/images/right_arrow.png"); 
  background-repeat: no-repeat; 
  background-position:99% center; 
  background-size: 10px;
}

.error {
  border: 1px solid $error;
}

.alert {
  &-error {
  width: 100%;
  height: auto;
  padding: 0.5em 0;
  color: $error;
  font-size: 0.8em;
  font-weight: 300;
  }
  &-success {
    width: 100%;
    height: auto;
    padding: 0.5em 0;
    color: $success;
    background-color: transparent;
    font-size: 0.8em;
    font-weight: 300;
  }
}

